body {  font-family: 'MasterFont';line-height: 0.9 }

@font-face {
    font-family: 'MasterFont';
    font-weight: bold;

    src: url('../fonts/brandFont.otf');
}


.top-number-area{
    background-color:#6E3D2F;
}

.small-number-box{
    background-color:#6E3D2F;
}

.large-number-box{
    background-color:#6E3D2F20
}  

.brand-logo{
    padding:0vw 5vw
}

.legal{
    color:#6E3D2F;font-family: 'MyriadProBoldSemiExtended';font-size:0.45vw;text-align: center
}