@media only screen and (min-width: 1280px) and (max-width: 1735px) {
    .small-number-box { font-size:42px}
	.large-number-box {font-size:125px; }
}

@media only screen and (min-width: 1155px) and (max-width: 1280px) {
    .small-number-box { font-size:40px}
	.large-number-box { height:215px;font-size:110px }
}

@media only screen and (min-width: 1080px) and (max-width: 1155px) {
    .small-number-box {height:90px;font-size:36px}
	.large-number-box {height:225px;font-size:100px }
}

@media only screen and (min-width: 1025px) and (max-width: 1079px) {
    .small-number-box { height:88px;font-size:30px}
	.large-number-box { height:220px;font-size:95px }
}

@media only screen and (min-width: 993px) and (max-width: 1025px) {
    .small-number-box { height:88px;font-size:29px}
	.large-number-box {height:220px;font-size:90px }
}

@media only screen and (min-width: 768px) and (max-width: 890px) {
    .small-number-box {height:100px;font-size:53px}
}

