body {  font-family: 'MasterFont';line-height: 0.9 }

@font-face {
    font-family: 'MasterFont';
    font-weight: bold;

    src: url('AR_brandFont.ttf');
}


.top-number-area{
    background-color:#D61921;
}

.small-number-box{
    background-color:#D61921;
}

.large-number-box{
    background-color:#6E3D2F20
}
