body {  font-family: 'MasterFont';line-height: 0.9 }

@font-face {
    font-family: 'MasterFont';
    font-weight: bold;

    src: url('PE_brandFont.otf');
}


.top-number-area{
    background-color:#AA192D;
}

.small-number-box{
    background-color:#AA192D;
}

.large-number-box{
    background-color:#6E3D2F20;
}



@media only screen and (min-width:472px) and (max-width:480px) {
	.top-number-area { padding: 20px;height: 630px; }
	.top-number-area img { margin-bottom:15px; }
	.small-number-box { height:113px;font-size:54px !important;margin-bottom:10px; }
	.large-number-area { padding:5px;margin-top: 8px; }
	.large-number-area img { margin-bottom:5px; }
	.large-number-box {height:113px;font-size:85px;margin-bottom: 10px; }
	.hazirFieldArea { margin-bottom: 5px; }
	.hazirlaniyorFieldArea { text-align:center; }
}

@media only screen and (min-width:712px) and (max-width:720px) {
	.top-number-area { padding: 20px;height: 1120px; }
	.top-number-area img { margin-bottom:15px; }
	.small-number-box { height:223px;font-size:93px !important;margin-bottom:10px; }
	.large-number-area { padding:25px; }
	.large-number-area img { margin-bottom:5px; }
	.large-number-box {height:224px;font-size:113px !important;margin-bottom: 10px; }
	.hazirFieldArea { margin-bottom: 8px; }
	.hazirlaniyorFieldArea { text-align:center; }
}

@media only screen and (min-width:760px) and (max-width:768px) {
	.top-number-area { padding: 20px;height: 1199px; }
	.top-number-area img { margin-bottom:15px; }
	.small-number-box { height:241px;font-size:100px;margin-bottom:10px; }
	.large-number-area { padding:25px; }
	.large-number-area img { margin-bottom:5px; }
	.large-number-box {height:242px;font-size:123px;margin-bottom: 10px; }
	.hazirFieldArea { margin-bottom: 8px; }
	.hazirlaniyorFieldArea { text-align:center; }
}

@media only screen and (min-width:1072px) and (max-width:1080px) {
	.small-number-box { height:344px;font-size:134px;margin-bottom:10px; }
	.large-number-box {height:344px;font-size:205px;margin-bottom: 10px; }
}

@media only screen and (min-width: 1272px) and (max-width: 1280px) {
	.small-number-box { margin-bottom:5px;height:154px;font-size: 95px !important; }
	.large-number-box {height:170px;font-size:97px !important; }
	.hazirlaniyorFieldArea {height: 307px;display: grid;align-items: center;}
}

@media only screen and (min-width: 1354px) and (max-width: 1366px) {
	.small-number-box { margin-bottom:5px;height:165px;font-size: 100px !important; }
	.large-number-box {height:192px;font-size:105px !important; }
	.hazirlaniyorFieldArea {height: 325px;display: grid;align-items: center;}
}

@media only screen and (min-width: 1912px) and (max-width: 1922px){
    .small-number-box{
        font-size: 157px !important;
    }
    
    .large-number-box{
        font-size: 157px !important;
    }
}

@media only screen and (min-width:2152px) and (max-width:2160px) {
	.top-number-area { padding: 20px;height: 3474px !important; }
	.top-number-area img { margin-bottom:15px; }
	.small-number-box { height:705px;font-size:320px;margin-bottom:10px; }
	.large-number-area { padding:25px; }
	.large-number-area img { margin-bottom:5px; }
	.large-number-box {height:705px;font-size:440px;margin-bottom: 10px; }
	.hazirFieldArea { margin-bottom: 8px; }
	.altMessageArea { width: 2090px; }
	.hazirlaniyorFieldArea { text-align:center;padding: 10px;margin-bottom: 26px; }
}

@media only screen and (min-width: 3832px) and (max-width: 3840px) {
	.small-number-box { margin-bottom:5px;height:531px;font-size: 335px; }
	.large-number-box {height:557px;font-size:317px; }
	.hazirlaniyorFieldArea {height: 1045px;display: grid;align-items: center;}
	.altMessage { width: 2575px; }
}
